<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Optimus Blog </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-right">
                <button merchant_id="4aktuwT8nAeRC3JqIVFeAC" transaction_type="ads" redirect_url="http://127.0.0.1:3001" class="btn navbar-btn btn-default optimus-btn optimus-hide">Login With Optimus</button>
            </form>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Optimus Blog</h1>
        <p>Optimus is literally the best web buisness model since sliced bread. Users can conviently and ethically support the content creators they love and content creators can see what users are willing to pay for</p>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img class="optimus-hide img-responsive center-block" src="/images/smap-ad.jpg"/>
        </div>
        <div class="col-md-6">
            <div class="well">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                <img class="optimus-hide img-responsive center-block" src="/images/draftkings.png"/>
            </div>
        </div>
        <div class="col-md-3">
            <img class="optimus-hide img-responsive center-block" src="/images/bad-eyes.jpg"/>
        </div>
</div> <!-- /container -->
